In [15]:
import os
import pandas as pd
import numpy as np

In [16]:
fol = os.path.join(os.getcwd(), 'dataset')
file_to_read = os.path.join(os.path.join(os.getcwd(), 'dataset'), 'Heart data.xlsx')

In [23]:
df = pd.read_excel(file_to_read)

In [18]:
df.head()

,age,sex,chest pain,blood pressure,cholestoral,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal,c
0,63,1,1,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0,6,0
1,37,1,3,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0,3,0
2,41,0,2,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0,3,0
3,56,1,2,120.0,236.0,0.0,0.0,178.0,0.0,0.8,1.0,0,3,0
4,57,0,4,120.0,354.0,0.0,0.0,163.0,1.0,0.6,1.0,0,3,0

### 1. Filter records with age higher than 70!

In [19]:
mask = df['age'] > 70
df[mask].head()

,age,sex,chest pain,blood pressure,cholestoral,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal,c
25,71,0,2,160.0,302.0,0.0,0.0,162.0,0.0,0.4,1.0,2,3,0
60,71,0,3,110.0,265.0,1.0,2.0,130.0,0.0,0.0,1.0,1,3,0
129,74,0,2,120.0,269.0,0.0,2.0,121.0,1.0,0.2,1.0,1,3,0
144,76,0,3,140.0,197.0,0.0,1.0,116.0,0.0,1.1,2.0,0,3,0
151,71,0,4,112.0,149.0,0.0,0.0,125.0,0.0,1.6,2.0,0,3,0

### 2. Increase cholestoral of everyone older than 70!

In [20]:
df.loc[mask, 'cholestoral'] = df.loc[mask, 'cholestoral'] + 10
df[mask].head()

,age,sex,chest pain,blood pressure,cholestoral,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal,c
25,71,0,2,160.0,312.0,0.0,0.0,162.0,0.0,0.4,1.0,2,3,0
60,71,0,3,110.0,275.0,1.0,2.0,130.0,0.0,0.0,1.0,1,3,0
129,74,0,2,120.0,279.0,0.0,2.0,121.0,1.0,0.2,1.0,1,3,0
144,76,0,3,140.0,207.0,0.0,1.0,116.0,0.0,1.1,2.0,0,3,0
151,71,0,4,112.0,159.0,0.0,0.0,125.0,0.0,1.6,2.0,0,3,0

### 3. Increase cholestoral of all men older than 70 by 5 units!

In [26]:
mask = ( df['age'] > 70) & (df['sex'] == 1)
df.loc[mask, 'cholestoral'] += 5
df[mask]

,age,sex,chest pain,blood pressure,cholestoral,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal,c
577,77,1,4,125.0,309.0,0.0,2.0,162.0,1.0,0.0,1.0,3,3,1

### Print all columns in dataframe with object type!

In [29]:
for col in df.columns:
    print(df[col].dtypes)

int64
int64
int64
float64
float64
float64
float64
float64
float64
float64
float64
object
object
int64

In [33]:
for col in df.columns:
    if df[col].dtypes == 'object':
        print(col)

ca
thal

#### 2nd solution

In [34]:
type(df.columns)

pandas.core.indexes.base.Index

In [35]:
df.columns[df.dtypes=='object']

Index(['ca', 'thal'], dtype='object')

### 5. Prevent warnings to show up!

In [36]:
import warnings
warnings.filterwarnings('ignore')