In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
fol = os.path.join(os.getcwd(), 'dataset')
file_to_read = os.path.join(os.path.join(os.getcwd(), 'dataset'), 'Heart data.xlsx')

In [3]:
df = pd.read_excel(file_to_read)

In [18]:
df.head()

,age,sex,chest pain,blood pressure,cholestoral,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal,c
0,63,1,1,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0,6,0
1,37,1,3,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0,3,0
2,41,0,2,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0,3,0
3,56,1,2,120.0,236.0,0.0,0.0,178.0,0.0,0.8,1.0,0,3,0
4,57,0,4,120.0,354.0,0.0,0.0,163.0,1.0,0.6,1.0,0,3,0

### 1. Filter records with age higher than 70!

In [19]:
mask = df['age'] > 70
df[mask].head()

,age,sex,chest pain,blood pressure,cholestoral,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal,c
25,71,0,2,160.0,302.0,0.0,0.0,162.0,0.0,0.4,1.0,2,3,0
60,71,0,3,110.0,265.0,1.0,2.0,130.0,0.0,0.0,1.0,1,3,0
129,74,0,2,120.0,269.0,0.0,2.0,121.0,1.0,0.2,1.0,1,3,0
144,76,0,3,140.0,197.0,0.0,1.0,116.0,0.0,1.1,2.0,0,3,0
151,71,0,4,112.0,149.0,0.0,0.0,125.0,0.0,1.6,2.0,0,3,0

### 2. Increase cholestoral of everyone older than 70!

In [20]:
df.loc[mask, 'cholestoral'] = df.loc[mask, 'cholestoral'] + 10
df[mask].head()

,age,sex,chest pain,blood pressure,cholestoral,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal,c
25,71,0,2,160.0,312.0,0.0,0.0,162.0,0.0,0.4,1.0,2,3,0
60,71,0,3,110.0,275.0,1.0,2.0,130.0,0.0,0.0,1.0,1,3,0
129,74,0,2,120.0,279.0,0.0,2.0,121.0,1.0,0.2,1.0,1,3,0
144,76,0,3,140.0,207.0,0.0,1.0,116.0,0.0,1.1,2.0,0,3,0
151,71,0,4,112.0,159.0,0.0,0.0,125.0,0.0,1.6,2.0,0,3,0

### 3. Increase cholestoral of all men older than 70 by 5 units!

In [26]:
mask = ( df['age'] > 70) & (df['sex'] == 1)
df.loc[mask, 'cholestoral'] += 5
df[mask]

,age,sex,chest pain,blood pressure,cholestoral,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal,c
577,77,1,4,125.0,309.0,0.0,2.0,162.0,1.0,0.0,1.0,3,3,1

### Print all columns in dataframe with object type!

In [29]:
for col in df.columns:
    print(df[col].dtypes)

int64
int64
int64
float64
float64
float64
float64
float64
float64
float64
float64
object
object
int64

In [33]:
for col in df.columns:
    if df[col].dtypes == 'object':
        print(col)

ca
thal

#### 2nd solution

In [34]:
type(df.columns)

pandas.core.indexes.base.Index

In [35]:
df.columns[df.dtypes=='object']

Index(['ca', 'thal'], dtype='object')

### 5. Prevent warnings to show up!

In [38]:
import warnings
warnings.filterwarnings('ignore')

# warnings.showwarning()

### 6. Delete the dataframe and remove it from memory!

In [44]:
import gc


del df
gc.collect()

1317

### 7. Show all variables in this notebook!

In [46]:
df = pd.read_excel(file_to_read)

In [45]:
%whos

Variable       Type      Data/Info
----------------------------------
col            str       c
file_to_read   str       E:\Fad\data mining\sem2\p<...>s\dataset\Heart data.xlsx
fol            str       E:\Fad\data mining\sem2\practices\dataset
gc             module    <module 'gc' (built-in)>
mask           Series    0      False\n1      Fals<...>nLength: 597, dtype: bool
np             module    <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>
os             module    <module 'os' from 'C:\\Pr<...>\\Anaconda3\\lib\\os.py'>
pd             module    <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>
warnings       module    <module 'warnings' from '<...>onda3\\lib\\warnings.py'>

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 597 entries, 0 to 596
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   age                   597 non-null    int64
 1   sex                   597 non-null    int64
 2   chest pain            597 non-null    int64
 3   blood pressure        596 non-null    float64
 4   cholestoral           574 non-null    float64
 5   blood sugar           589 non-null    float64
 6   electrocardiographic  596 non-null    float64
 7   heart rate            596 non-null    float64
 8   exercise induced      596 non-null    float64
 9   depression            597 non-null    float64
 10  slope                 407 non-null    float64
 11  ca                    307 non-null    object
 12  thal                  331 non-null    object
 13  c                     597 non-null    int64
dtypes: float64(8), int64(4), object(2)
memory usage: 65.4+ KB

### Timing operations

In [48]:
%%time
df2 = df.select_dtypes(include='object')
df2.head()

Wall time: 2.01 ms

  ca thal
0  0    6
1  0    3
2  0    3
3  0    3
4  0    3

### Dataframe operations

In [50]:
df.sort_values(['age','chest pain'], ascending=[False, True]).head()

,age,sex,chest pain,blood pressure,cholestoral,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal,c
577,77,1,4,125.0,304.0,0.0,2.0,162.0,1.0,0.0,1.0,3,3,1
144,76,0,3,140.0,197.0,0.0,1.0,116.0,0.0,1.1,2.0,0,3,0
129,74,0,2,120.0,269.0,0.0,2.0,121.0,1.0,0.2,1.0,1,3,0
25,71,0,2,160.0,302.0,0.0,0.0,162.0,0.0,0.4,1.0,2,3,0
60,71,0,3,110.0,265.0,1.0,2.0,130.0,0.0,0.0,1.0,1,3,0

In [51]:
df.head(2)

,age,sex,chest pain,blood pressure,cholestoral,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal,c
0,63,1,1,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0,6,0
1,37,1,3,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0,3,0

In [52]:
df.sort_values(['age','chest pain'], ascending=[False, True],inplace=True)
df.head(2)

,age,sex,chest pain,blood pressure,cholestoral,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal,c
577,77,1,4,125.0,304.0,0.0,2.0,162.0,1.0,0.0,1.0,3,3,1
144,76,0,3,140.0,197.0,0.0,1.0,116.0,0.0,1.1,2.0,0,3,0

### Saving into file

In [57]:
df.to_excel(r'processed_df.xlsx', index=False, sheet_name = 'dataframe', encoding='utf-8')

In [55]:
# !dir

### Removing a column from dataframe

In [59]:
df.drop('c', axis=1, inplace=True) # axis=0 for index, 1 for column
df.head()

,age,sex,chest pain,blood pressure,cholestoral,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal
577,77,1,4,125.0,304.0,0.0,2.0,162.0,1.0,0.0,1.0,3,3
144,76,0,3,140.0,197.0,0.0,1.0,116.0,0.0,1.1,2.0,0,3
129,74,0,2,120.0,269.0,0.0,2.0,121.0,1.0,0.2,1.0,1,3
25,71,0,2,160.0,302.0,0.0,0.0,162.0,0.0,0.4,1.0,2,3
60,71,0,3,110.0,265.0,1.0,2.0,130.0,0.0,0.0,1.0,1,3

### Renaming columns

In [62]:
df.rename(columns={'blood sugar':'sugar',
                    'depression':'depression lvl'}).head(2)

,age,sex,chest pain,blood pressure,cholestoral,sugar,electrocardiographic,heart rate,exercise induced,depression lvl,slope,ca,thal
577,77,1,4,125.0,304.0,0.0,2.0,162.0,1.0,0.0,1.0,3,3
144,76,0,3,140.0,197.0,0.0,1.0,116.0,0.0,1.1,2.0,0,3

### Handling missing values

In [64]:
df.isnull().sum()

age                       0
sex                       0
chest pain                0
blood pressure            1
cholestoral              23
blood sugar               8
electrocardiographic      1
heart rate                1
exercise induced          1
depression                0
slope                   190
ca                      290
thal                    266
dtype: int64

In [65]:
df.isna().sum()

age                       0
sex                       0
chest pain                0
blood pressure            1
cholestoral              23
blood sugar               8
electrocardiographic      1
heart rate                1
exercise induced          1
depression                0
slope                   190
ca                      290
thal                    266
dtype: int64

In [67]:
df.isna().mean()*100.0

age                      0.000000
sex                      0.000000
chest pain               0.000000
blood pressure           0.167504
cholestoral              3.852596
blood sugar              1.340034
electrocardiographic     0.167504
heart rate               0.167504
exercise induced         0.167504
depression               0.000000
slope                   31.825796
ca                      48.576214
thal                    44.556114
dtype: float64

#### Interpolating missing values

In [73]:
df_ = df.copy()

In [76]:
df_.fillna(-1, inplace=True)
df_.isna().sum()

age                     0
sex                     0
chest pain              0
blood pressure          0
cholestoral             0
blood sugar             0
electrocardiographic    0
heart rate              0
exercise induced        0
depression              0
slope                   0
ca                      0
thal                    0
dtype: int64

In [82]:
del df_
gc.collect()

68

#### Replacing missing values with mean

In [83]:
df_ = df.copy()
df_ = df_.fillna(df_.mean())

In [84]:
df_.isnull().sum()

age                       0
sex                       0
chest pain                0
blood pressure            0
cholestoral               0
blood sugar               0
electrocardiographic      0
heart rate                0
exercise induced          0
depression                0
slope                     0
ca                      290
thal                    266
dtype: int64

In [88]:
df_[df_['thal'].isnull()]

,age,sex,chest pain,blood pressure,cholestoral,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal
550,66,1,4,140.0,248.655052,0.0,0.0,94.0,1.0,1.0,2.000000,NaN,NaN
413,65,1,4,140.0,306.000000,1.0,0.0,87.0,1.0,1.5,2.000000,NaN,NaN
551,65,1,4,170.0,263.000000,1.0,0.0,112.0,1.0,2.0,2.000000,NaN,NaN
584,65,1,4,130.0,275.000000,0.0,1.0,115.0,1.0,1.0,2.000000,NaN,NaN
420,63,1,4,150.0,223.000000,0.0,0.0,115.0,0.0,0.0,1.675676,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,31,0,2,100.0,219.000000,0.0,1.0,150.0,0.0,0.0,1.675676,NaN,NaN
415,31,1,4,120.0,270.000000,0.0,0.0,153.0,1.0,1.5,2.000000,NaN,NaN
271,29,1,2,120.0,243.000000,0.0,0.0,160.0,0.0,0.0,1.675676,NaN,NaN
305,29,1,2,140.0,248.655052,0.0,0.0,170.0,0.0,0.0,1.675676,NaN,NaN
299,28,1,2,130.0,132.000000,0.0,2.0,185.0,0.0,0.0,1.675676,NaN,NaN

In [93]:
for col in df.columns:
    print(df[col].dtype)

int64
int64
int64
float64
float64
float64
float64
float64
float64
float64
float64
object
object

In [96]:
for col in df.columns:
    if(df[col].dtype):
        df[col] = df[col].apply(pd.to_numeric)

        
for col in df.columns:
    print(df[col].dtype)

ValueError: Unable to parse string "?" at position 0

In [100]:
df['ca'].value_counts()

0    179
1     65
2     38
3     20
?      4
9      1
Name: ca, dtype: int64

In [101]:
df['ca'].isnull().sum()

290

In [102]:
179+65+38+20+4+1+290

597

In [89]:
df_['thal'].mean()

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [114]:
df[df['thal']=='?']

,age,sex,chest pain,blood pressure,cholestoral,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal
48,53,0,3,128.0,216.0,0.0,2.0,115.0,0.0,0.0,1.0,0,?
471,52,1,4,128.0,204.0,1.0,0.0,156.0,1.0,1.0,2.0,0,?

In [115]:
df[df['thal']=='?'] = np.nan

In [121]:
df['ca'] .value_counts()

0    177
1     65
2     38
3     20
?      4
9      1
Name: ca, dtype: int64

In [122]:
df[df['ca']=='?'] = np.nan

In [123]:
df['ca'] = df['ca'].astype(float)
df['thal'] = df['thal'].astype(float)

In [124]:
df2 = df.copy()

In [125]:
df2.isna().sum()

age                       6
sex                       6
chest pain                6
blood pressure            7
cholestoral              29
blood sugar              14
electrocardiographic      7
heart rate                7
exercise induced          7
depression                6
slope                   196
ca                      296
thal                    272
dtype: int64

## HW: Replace each null value by the average of previous and next value!

In [4]:
for col in df.columns:
    print(df[col].dtype)

int64
int64
int64
float64
float64
float64
float64
float64
float64
float64
float64
object
object
int64

In [5]:
df['thal'].value_counts()

3    173
7    128
6     28
?      2
Name: thal, dtype: int64

In [7]:
df[df['thal']=='?']=0

In [8]:
df['thal'].value_counts()

3    173
7    128
6     28
0      2
Name: thal, dtype: int64

In [9]:
df['ca'].value_counts()

0    179
1     65
2     38
3     20
?      4
9      1
Name: ca, dtype: int64

In [10]:
df[df['ca']=='?']=0

In [11]:
df['ca'].value_counts()

0    183
1     65
2     38
3     20
9      1
Name: ca, dtype: int64

In [13]:
df['thal'] = df['thal'].astype(float)

In [15]:
df['ca'] = df['ca'].astype(float) # ValueError: cannot convert float NaN to integer

In [17]:
import os
import pandas as pd
import numpy as np


fol = os.path.join(os.getcwd(), 'dataset')
file_to_read = os.path.join(os.path.join(os.getcwd(), 'dataset'), 'Heart data.xlsx')
df = pd.read_excel(file_to_read)

df[df['thal']=='?']=0
df[df['ca']=='?']=0
df['thal'] = df['thal'].astype(float)
df['ca'] = df['ca'].astype(float)

df2 = df.fillna( (df.fillna(method='ffill') + df.fillna(method='bfill') )/2 )

In [19]:
df2.isnull().sum()

age                      0
sex                      0
chest pain               0
blood pressure           0
cholestoral              0
blood sugar              0
electrocardiographic     0
heart rate               0
exercise induced         0
depression               0
slope                    0
ca                      15
thal                    11
c                        0
dtype: int64

In [21]:
df2.head()

,age,sex,chest pain,blood pressure,cholestoral,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal,c
0,63,1,1,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,37,1,3,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
2,41,0,2,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
3,56,1,2,120.0,236.0,0.0,0.0,178.0,0.0,0.8,1.0,0.0,3.0,0
4,57,0,4,120.0,354.0,0.0,0.0,163.0,1.0,0.6,1.0,0.0,3.0,0

In [22]:
df2[df2['thal'].isnull()]

,age,sex,chest pain,blood pressure,cholestoral,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal,c
586,52,1,4,160.0,331.0,0.0,0.0,94.0,1.0,2.5,2.0,NaN,NaN,1
587,50,1,4,140.0,341.0,0.0,1.0,125.0,1.0,2.5,2.0,NaN,NaN,1
588,47,1,4,160.0,291.0,0.0,1.0,158.0,1.0,3.0,2.0,NaN,NaN,1
589,56,1,4,155.0,342.0,1.0,0.0,150.0,1.0,3.0,2.0,NaN,NaN,1
590,49,1,4,128.0,212.0,0.0,0.0,96.0,1.0,0.0,2.0,NaN,NaN,1
591,50,1,4,140.0,231.0,0.0,1.0,140.0,1.0,5.0,2.0,NaN,NaN,1
592,52,1,4,140.0,266.0,0.0,0.0,134.0,1.0,2.0,2.0,NaN,NaN,1
593,43,1,4,140.0,288.0,0.0,0.0,135.0,1.0,2.0,2.0,NaN,NaN,1
594,41,1,4,120.0,336.0,0.0,0.0,118.0,1.0,3.0,2.0,NaN,NaN,1
595,44,1,4,135.0,491.0,0.0,0.0,135.0,0.0,0.0,2.0,NaN,NaN,1
596,49,1,4,150.0,222.0,0.0,0.0,122.0,0.0,2.0,2.0,NaN,NaN,1

In [29]:
df2[-16:]

,age,sex,chest pain,blood pressure,cholestoral,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal,c
581,58,1,4,114.0,318.0,0.0,1.0,140.0,0.0,4.4,3.0,3.0,6.0,1
582,54,0,3,130.0,294.0,0.0,1.0,100.0,1.0,0.0,2.0,NaN,6.0,1
583,47,0,4,120.0,205.0,0.0,0.0,98.0,1.0,2.0,2.0,NaN,6.0,1
584,65,1,4,130.0,275.0,0.0,1.0,115.0,1.0,1.0,2.0,NaN,6.5,1
585,58,0,2,180.0,393.0,0.0,0.0,110.0,1.0,1.0,2.0,NaN,7.0,1
586,52,1,4,160.0,331.0,0.0,0.0,94.0,1.0,2.5,2.0,NaN,NaN,1
587,50,1,4,140.0,341.0,0.0,1.0,125.0,1.0,2.5,2.0,NaN,NaN,1
588,47,1,4,160.0,291.0,0.0,1.0,158.0,1.0,3.0,2.0,NaN,NaN,1
589,56,1,4,155.0,342.0,1.0,0.0,150.0,1.0,3.0,2.0,NaN,NaN,1
590,49,1,4,128.0,212.0,0.0,0.0,96.0,1.0,0.0,2.0,NaN,NaN,1
591,50,1,4,140.0,231.0,0.0,1.0,140.0,1.0,5.0,2.0,NaN,NaN,1
592,52,1,4,140.0,266.0,0.0,0.0,134.0,1.0,2.0,2.0,NaN,NaN,1
593,43,1,4,140.0,288.0,0.0,0.0,135.0,1.0,2.0,2.0,NaN,NaN,1
594,41,1,4,120.0,336.0,0.0,0.0,118.0,1.0,3.0,2.0,NaN,NaN,1
595,44,1,4,135.0,491.0,0.0,0.0,135.0,0.0,0.0,2.0,NaN,NaN,1
596,49,1,4,150.0,222.0,0.0,0.0,122.0,0.0,2.0,2.0,NaN,NaN,1

In [28]:
df[-16:]

,age,sex,chest pain,blood pressure,cholestoral,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal,c
581,58,1,4,114.0,318.0,0.0,1.0,140.0,0.0,4.4,3.0,3.0,6.0,1
582,54,0,3,130.0,294.0,0.0,1.0,100.0,1.0,0.0,2.0,NaN,NaN,1
583,47,0,4,120.0,205.0,0.0,0.0,98.0,1.0,2.0,2.0,NaN,6.0,1
584,65,1,4,130.0,275.0,0.0,1.0,115.0,1.0,1.0,2.0,NaN,NaN,1
585,58,0,2,180.0,393.0,0.0,0.0,110.0,1.0,1.0,2.0,NaN,7.0,1
586,52,1,4,160.0,331.0,0.0,0.0,94.0,1.0,2.5,NaN,NaN,NaN,1
587,50,1,4,140.0,341.0,0.0,1.0,125.0,1.0,2.5,2.0,NaN,NaN,1
588,47,1,4,160.0,291.0,0.0,1.0,158.0,1.0,3.0,2.0,NaN,NaN,1
589,56,1,4,155.0,342.0,1.0,0.0,150.0,1.0,3.0,2.0,NaN,NaN,1
590,49,1,4,128.0,212.0,0.0,0.0,96.0,1.0,0.0,NaN,NaN,NaN,1
591,50,1,4,140.0,231.0,0.0,1.0,140.0,1.0,5.0,2.0,NaN,NaN,1
592,52,1,4,140.0,266.0,0.0,0.0,134.0,1.0,2.0,2.0,NaN,NaN,1
593,43,1,4,140.0,288.0,0.0,0.0,135.0,1.0,2.0,2.0,NaN,NaN,1
594,41,1,4,120.0,336.0,0.0,0.0,118.0,1.0,3.0,2.0,NaN,NaN,1
595,44,1,4,135.0,491.0,0.0,0.0,135.0,0.0,0.0,NaN,NaN,NaN,1
596,49,1,4,150.0,222.0,0.0,0.0,122.0,0.0,2.0,2.0,NaN,NaN,1

In [ ]:
# for row in df2[df2.isna()]:
#     for col in df2.columns:
#         df2[col].fillna()

In [ ]:
# for col in df2.columns:
#     df2[col].fillna()

### Memberships

In [113]:
type(df['thal'])

pandas.core.series.Series

In [109]:
df['thal'].value_counts()

3    173
7    128
6     28
?      2
Name: thal, dtype: int64

In [112]:
df[df['thal'].isin([3])]

,age,sex,chest pain,blood pressure,cholestoral,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal
577,77,1,4,125.0,304.0,0.0,2.0,162.0,1.0,0.0,1.0,3,3
144,76,0,3,140.0,197.0,0.0,1.0,116.0,0.0,1.1,2.0,0,3
129,74,0,2,120.0,269.0,0.0,2.0,121.0,1.0,0.2,1.0,1,3
25,71,0,2,160.0,302.0,0.0,0.0,162.0,0.0,0.4,1.0,2,3
60,71,0,3,110.0,265.0,1.0,2.0,130.0,0.0,0.0,1.0,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,35,1,2,122.0,192.0,0.0,0.0,174.0,0.0,0.0,1.0,0,3
65,35,0,4,138.0,183.0,0.0,0.0,182.0,0.0,1.4,1.0,0,3
58,34,1,1,118.0,182.0,0.0,2.0,174.0,0.0,0.0,1.0,0,3
125,34,0,2,118.0,210.0,0.0,0.0,192.0,0.0,0.7,1.0,0,3
72,29,1,2,130.0,204.0,0.0,2.0,202.0,0.0,0.0,1.0,0,3