In [15]:
import os
import pandas as pd
import numpy as np

In [16]:
fol = os.path.join(os.getcwd(), 'dataset')
file_to_read = os.path.join(os.path.join(os.getcwd(), 'dataset'), 'Heart data.xlsx')

In [43]:
df = pd.read_excel(file_to_read)

In [18]:
df.head()

,age,sex,chest pain,blood pressure,cholestoral,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal,c
0,63,1,1,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0,6,0
1,37,1,3,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0,3,0
2,41,0,2,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0,3,0
3,56,1,2,120.0,236.0,0.0,0.0,178.0,0.0,0.8,1.0,0,3,0
4,57,0,4,120.0,354.0,0.0,0.0,163.0,1.0,0.6,1.0,0,3,0

### 1. Filter records with age higher than 70!

In [19]:
mask = df['age'] > 70
df[mask].head()

,age,sex,chest pain,blood pressure,cholestoral,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal,c
25,71,0,2,160.0,302.0,0.0,0.0,162.0,0.0,0.4,1.0,2,3,0
60,71,0,3,110.0,265.0,1.0,2.0,130.0,0.0,0.0,1.0,1,3,0
129,74,0,2,120.0,269.0,0.0,2.0,121.0,1.0,0.2,1.0,1,3,0
144,76,0,3,140.0,197.0,0.0,1.0,116.0,0.0,1.1,2.0,0,3,0
151,71,0,4,112.0,149.0,0.0,0.0,125.0,0.0,1.6,2.0,0,3,0

### 2. Increase cholestoral of everyone older than 70!

In [20]:
df.loc[mask, 'cholestoral'] = df.loc[mask, 'cholestoral'] + 10
df[mask].head()

,age,sex,chest pain,blood pressure,cholestoral,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal,c
25,71,0,2,160.0,312.0,0.0,0.0,162.0,0.0,0.4,1.0,2,3,0
60,71,0,3,110.0,275.0,1.0,2.0,130.0,0.0,0.0,1.0,1,3,0
129,74,0,2,120.0,279.0,0.0,2.0,121.0,1.0,0.2,1.0,1,3,0
144,76,0,3,140.0,207.0,0.0,1.0,116.0,0.0,1.1,2.0,0,3,0
151,71,0,4,112.0,159.0,0.0,0.0,125.0,0.0,1.6,2.0,0,3,0

### 3. Increase cholestoral of all men older than 70 by 5 units!

In [26]:
mask = ( df['age'] > 70) & (df['sex'] == 1)
df.loc[mask, 'cholestoral'] += 5
df[mask]

,age,sex,chest pain,blood pressure,cholestoral,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal,c
577,77,1,4,125.0,309.0,0.0,2.0,162.0,1.0,0.0,1.0,3,3,1

### Print all columns in dataframe with object type!

In [29]:
for col in df.columns:
    print(df[col].dtypes)

int64
int64
int64
float64
float64
float64
float64
float64
float64
float64
float64
object
object
int64

In [33]:
for col in df.columns:
    if df[col].dtypes == 'object':
        print(col)

ca
thal

#### 2nd solution

In [34]:
type(df.columns)

pandas.core.indexes.base.Index

In [35]:
df.columns[df.dtypes=='object']

Index(['ca', 'thal'], dtype='object')

### 5. Prevent warnings to show up!

In [38]:
import warnings
warnings.filterwarnings('ignore')

# warnings.showwarning()

### 6. Delete the dataframe and remove it from memory!

In [44]:
import gc


del df
gc.collect()

1317

### 7. Show all variables in this notebook!

In [46]:
df = pd.read_excel(file_to_read)

In [45]:
%whos

Variable       Type      Data/Info
----------------------------------
col            str       c
file_to_read   str       E:\Fad\data mining\sem2\p<...>s\dataset\Heart data.xlsx
fol            str       E:\Fad\data mining\sem2\practices\dataset
gc             module    <module 'gc' (built-in)>
mask           Series    0      False\n1      Fals<...>nLength: 597, dtype: bool
np             module    <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>
os             module    <module 'os' from 'C:\\Pr<...>\\Anaconda3\\lib\\os.py'>
pd             module    <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>
warnings       module    <module 'warnings' from '<...>onda3\\lib\\warnings.py'>

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 597 entries, 0 to 596
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   age                   597 non-null    int64
 1   sex                   597 non-null    int64
 2   chest pain            597 non-null    int64
 3   blood pressure        596 non-null    float64
 4   cholestoral           574 non-null    float64
 5   blood sugar           589 non-null    float64
 6   electrocardiographic  596 non-null    float64
 7   heart rate            596 non-null    float64
 8   exercise induced      596 non-null    float64
 9   depression            597 non-null    float64
 10  slope                 407 non-null    float64
 11  ca                    307 non-null    object
 12  thal                  331 non-null    object
 13  c                     597 non-null    int64
dtypes: float64(8), int64(4), object(2)
memory usage: 65.4+ KB

### Timing operations

In [48]:
%%time
df2 = df.select_dtypes(include='object')
df2.head()

Wall time: 2.01 ms

  ca thal
0  0    6
1  0    3
2  0    3
3  0    3
4  0    3

### Dataframe operations

In [50]:
df.sort_values(['age','chest pain'], ascending=[False, True]).head()

,age,sex,chest pain,blood pressure,cholestoral,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal,c
577,77,1,4,125.0,304.0,0.0,2.0,162.0,1.0,0.0,1.0,3,3,1
144,76,0,3,140.0,197.0,0.0,1.0,116.0,0.0,1.1,2.0,0,3,0
129,74,0,2,120.0,269.0,0.0,2.0,121.0,1.0,0.2,1.0,1,3,0
25,71,0,2,160.0,302.0,0.0,0.0,162.0,0.0,0.4,1.0,2,3,0
60,71,0,3,110.0,265.0,1.0,2.0,130.0,0.0,0.0,1.0,1,3,0

In [51]:
df.head(2)

,age,sex,chest pain,blood pressure,cholestoral,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal,c
0,63,1,1,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0,6,0
1,37,1,3,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0,3,0

In [52]:
df.sort_values(['age','chest pain'], ascending=[False, True],inplace=True)
df.head(2)

,age,sex,chest pain,blood pressure,cholestoral,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal,c
577,77,1,4,125.0,304.0,0.0,2.0,162.0,1.0,0.0,1.0,3,3,1
144,76,0,3,140.0,197.0,0.0,1.0,116.0,0.0,1.1,2.0,0,3,0